@font-face {
font-family: 'Starwar';
font-style: normal;
font-weight: normal;
src: local('Starwar'), url('star-wars-font.ttf') format('truetype');
}

h1 {
  font-family: 'Starwar';
  font-weight: 150;
  color: #F2F020;
}